header {
    /*Retirando config padrão portfólio*/
    box-shadow: none;
    background: none;
    /*Fundo, visual e borda*/
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: .2em solid rgba(0, 0, 0, 0.1);
}

.titulo {
    color: var(--marrom-escuro);
}

.t-menu {
    color: rgba(255, 255, 255, .8);
}

.t-menu span a {
    color: rgba(255, 255, 255, .9)
}

.return-btn a {
    /*Alinhamento*/
    align-items: center;
    display: flex;
    justify-content: center;
    /*Retirando estilo*/
    text-decoration: none;
    /*Cor e cor de fundo*/
    background-color: #fff;
    color: var(--vermelho-rosado);
    /*Espaçamento e borda*/
    border-radius: 1em;
    padding: .5em;
    padding-right: 1em;
}

main {
    /*(evitando alguma variáveis)*/
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
}

.config {
    width: 100vw;
}

.card {
    border-radius: 2em;
    border-right: 1em solid rgb(241, 85, 85);
    box-shadow: 5em 0em 0em 1.2em rgba(0, 0, 0, .5);

    padding: 5em;
    margin-top: 10em;
    margin-bottom: 6em;

    height: 15em;
    width: 70vw;
}

.dev-web {
    background: var(--vermelho-rosado);
}

/*Resposividade Mobile*/
@media screen and (max-width: 820px) {
    .config {
        width: 100vw
    }

    .card {
        height: 20em;
        padding: 1em;
        width: 70vw;
        box-shadow: 0em 0em 0em .8em rgba(0, 0, 0, .5);
    }

    .card-dev-web .titulo {
        display: block;
        font-size: 20px;
    }

}


@media screen and (max-width: 550px) {
    .titulo {
        display: none;
    }

    .titulo-mobile {
        display: block;
    }
    
    .text-apresentation h1 {
        font-size: 25px;
    }

    .text-apresentation p {
        font-size: 18px;
    }

    .aboutme-text {
        padding: 1em;
    }
    
    .aboutme h1 {
        font-size: 20px;
    }

    .aboutme p {
        font-size: 16px;
    }

    .aboutCareer h1 {
        font-size: 2em;
    }

    .card-hardskill .card h1 {
        font-size: 18px;
    }

    .card-hardskill .card p {
        font-size: 14px;
    }

    .miniatura p {
        font-size: 14px;
    }
}
